.hero-image{
    text-align: center;
    background-image: url('image/bg.gif');
	background-color: lightblue;
	background-size: cover;
	height: 480px;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
}

.hero-text{
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	font-size: 20px;
	font-family: 'Arial', sans-serif;
	background-color: rgba(0, 0, 0, 0.5);
	padding: 10px;
	border-radius: 5px;
}
/*
nav {
	background-color: rgba(0, 0, 0, 0.5);
	padding: 10px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1000;
	view-transition-name: highlight;
}
*/
nav {
  z-index:9;
  grid-column-gap:.5em;
  grid-row-gap:.5em;
  pointer-events:all;
  flex-flow:column;
  display:flex;
  position:absolute;
  top:50%;
  left:.5em;
  transform:translateY(-50%)
}

.active {
	background-color: #4CAF50;
	color: white;

}
