.hero-image{
    text-align: center;
    background-image: url('image/bg.gif');
	background-color: lightblue;
	background-size: cover;
	height: 480px;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
}

.hero-text{
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	font-size: 20px;
	font-family: 'Arial', sans-serif;
	background-color: rgba(0, 0, 0, 0.5);
	padding: 10px;
	border-radius: 5px;
}
/*
nav {
	background-color: rgba(0, 0, 0, 0.5);
	padding: 10px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1000;
	view-transition-name: highlight;
}
*/
nav {
  flex-flow: row;
  display: flex;
  position: fixed;
  top: 0px;
  width: 100%;
}

.active {
	background-color: #4CAF50;
	color: white;

}

/* Links inside the navbar */
nav a {
  float: left;
  display: block;
  background-color: #78dd7b;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change background on mouse-over */
nav a:hover {
  background: #ddd;
  color: black;
}

/* Main content */
body {
  margin-top: 30px; /* Add a top margin to avoid content overlay */
}